


.github {
    height: 7vw;
    width: auto;
    transform: scale(.9);
}

.github:hover {
    transform: scale(1);
}

.linkedin {
    height: 12vw;
    width: auto;
    transform: scale(1.1);
}

.linkedin:hover {
    transform: scale(1.3);
}

.instagram {
    height: 10vw;
    /* margin-top: 10vw; */
    margin-left: 1.5rem!important;
    padding-top: 2.2vw;
}

.instagram:hover {
    transform: scale(1.1);
}

.main-footer {
    display: inline-block;
    padding-top: 2rem;
    margin: auto;
}